@model sistematutor.Models.retroalimentacion_preguntas

@{
    ViewData["Title"] = "Crear";
}

<h2>Agregar</h2>

<h4>retroalimentacion_preguntas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_ejercicio" class="control-label"></label>
                <input asp-for="id_ejercicio" class="form-control" />
                <span asp-validation-for="id_ejercicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_temas" class="control-label"></label>
                <input asp-for="id_temas" class="form-control" />
                <span asp-validation-for="id_temas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
