@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Av.pungarabato pte S/N <br />
    Ciudad Altamirano, GRO CP 40660<br />
    <abbr title="Phone"></abbr>
    +52 7321063043
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">tavomondragon7@hotmail.com</a><br />
   
</address>
